<h1> Team Name: <%=@team.name%> </h1>
<p>Team Motto: <%=@team.motto%></p>
<% @heroes.each_with_index do |hero,index| %>
  <h2><%= hero.name %></h2>
  <h2><%= hero.power %></h2>
  <h2><%= hero.biography%></h2>
<% end %>
